.scene-02
  &.bg
    background-image: url('../../assets/bg/scene-02.png')

  &.c-22
    width: 100%
    height: 100%
    background-size: cover
    position: absolute
    bottom: 0
    right: 0

    &.normal
      background-image: url('../../assets/22/22.png')

    &.shock
      background-image: url('../../assets/22/22-shock.png')

    &.splashing
      background-image: url('../../assets/22/22-splashing.png')
