.scene-01
  &.bg
    background-image: url('../../assets/bg/scene-01.png')

  &.c-33
    width: 450px
    height: 700px
    background-size: contain
    position: absolute
    bottom: 0

    &.normal
      background-image: url('../../assets/33/33.png')

    &.embarrassed
      background-image: url('../../assets/33/33-embarrassed.png')

    &.smile
      background-image: url('../../assets/33/33-smile.png')
      background-size: cover
