.scene-01
  &.bg
    background-image: url('../../assets/bg/scene-01.png')
    background-color: red

  &.c-33-normal
    width: 450px
    height: 700px
    background-image: url('../../assets/33/33.png')
    background-size: contain
